<%= form_for [@event, comment] do |f| %>
  <%= render partial: 'partials/form_errors', locals: {model: comment} %>
  <% unless user_signed_in? %>
    <div class="form-group">
      <%= f.label I18n.t('comments.user_name') %>
      <%= f.text_field :user_name, class: 'form-control' %>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label I18n.t('comments.body') %>
    <%= f.text_area :body, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit 'Отправить', class: 'btn btn-primary' %>
  </div>
<% end %>
